@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Owners';
  src: url('/fonts/Owners-XLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Owners';
  src: url('/fonts/Owners-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Owners';
  src: url('/fonts/Owners-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Owners';
  src: url('/fonts/Owners-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Owners Narrow';
  src: url('/fonts/OwnersNarrow-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Owners';
  src: url('/fonts/Owners-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Owners Narrow';
  src: url('/fonts/OwnersNarrow-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham';
  src: url('/fonts/Gotham-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham';
  src: url('/fonts/GothamOffice-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


body {
  font-family: 'Owners', Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}


.react-datepicker-wrapper {
  width: min(100%, 304px);
  display: flex !important;

  .react-datepicker__input-container {
    margin-top: auto;
  }
}

.truncate-4 {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}


.gacetilla-detalle,
.gacetilla-detalle p {
  @apply font-sans;
}

.gacetilla-detalle,
.gacetilla-detalle p,
.gacetilla-detalle i,
.gacetilla-detalle span {
  font-family: Owners, Arial, Helvetica, sans-serif !important;
  color: #736D6D !important;
  letter-spacing: .05em;
}

.gacetilla-detalle a {
  text-decoration: underline;
}

.gacetilla-detalle h1,
.gacetilla-detalle h2,
.gacetilla-detalle h3,
.gacetilla-detalle h4,
.gacetilla-detalle h5,
.gacetilla-detalle h6 {
  /* Tailwind: text-primary */
  font-family: Owners, Arial, Helvetica, sans-serif !important;
  color: #736D6D !important;
}

.gacetilla-detalle h1 {
  color: rgb(45 61 52 / var(--tw-text-opacity, 1));
  @apply text-3xl mb-4 text-primary;
}

.gacetilla-detalle h2 {
  @apply text-2xl mb-4 text-primary;
}

.gacetilla-detalle h3 {
  @apply text-xl mb-4 text-primary;
}

.gacetilla-detalle h4 {
  @apply text-lg mb-4 text-primary;
}

.gacetilla-detalle h5 {
  @apply text-base mb-4 text-primary;
}

.gacetilla-detalle h6 {
  @apply text-sm mb-4 text-primary;
}

.gacetilla-detalle ul {
  @apply list-disc pl-6 mb-4;
}

.gacetilla-detalle ol {
  @apply list-decimal pl-6 mb-4;
}

.gacetilla-detalle img {
  border-radius: 20px;
  overflow: hidden;
}

.gacetilla-detalle span:has(> img),
.gacetilla-detalle div:has(> img) {
  width: 100% !important;
  display: block;
  height: auto !important;
  margin-bottom: 70px;
  margin-top: 70px;
}

@media screen and (max-width: 500px) {

  .gacetilla-detalle span:has(> img),
  .gacetilla-detalle div:has(> img) {
    margin-bottom: 2rem;
    margin-top: 2rem;
  }
}

.gacetilla-detalle img {
  width: 100%;
}


.container-inscripciones {
  display: grid;
  grid-template-columns: 0.95fr 1.05fr;
  /* grid-template-rows: 1fr 1fr 1fr; */
  gap: 20px;
  grid-auto-flow: row;
  grid-template-areas:
    "banner banner"
    "precios invitacion"
    "precios consulta";
}

.banner-inscripciones {
  grid-area: banner;
}

.precios-inscripciones {
  grid-area: precios;
}

.invitaciones {
  grid-area: invitacion;
}

.consultas-inscripciones {
  grid-area: consulta;
}

@media (max-width: 1200px) {
  .container-inscripciones {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    grid-template-areas:
      "banner"
      "precios"
      "invitacion"
      "consulta";
  }
}

.container-banne-edicion33 {
  background-image: url('/images/edicion-33/bg-banner.png'), url('/images/edicion-33/bg-recurso-banner.png');
  background-position: right top, left bottom;

  background-size: contain, auto;
}

@media (max-width: 1400px) {
  .container-banne-edicion33 {
    background-size: cover, auto;
  }
}


@media (max-width: 600px) {
  .container-banne-edicion33 {
    background-image: url('/images/edicion-33/bg-recurso-banner.png');
    background-position: left bottom;
    background-size: auto;
  }
}