/* CARDS EJES TEMATICOS */
.swiper.ejes-tematicos-swiper {
  width: 446px;
  height: auto;
  margin-right: auto;
  margin-left: 0;
}

.swiper.ejes-tematicos-swiper .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
  border-radius: 20px;
  width: min(100%, 446px);
  padding: 38px 58px 58px 58px;
}

.swiper.ejes-tematicos-swiper .swiper-slide:nth-child(1n) {
  background-color: #EF7B80;
}

.swiper.ejes-tematicos-swiper .swiper-slide:nth-child(2n) {
  background-color: #147DBE;
}

.swiper.ejes-tematicos-swiper .swiper-slide:nth-child(3n) {
  background-color: #E84615;
}

.swiper.ejes-tematicos-swiper .swiper-slide:nth-child(4n) {
  background-color: #D34240;
}

.swiper.ejes-tematicos-swiper .swiper-slide:nth-child(5n) {
  background-color: #EAAB21;
}

.swiper.ejes-tematicos-swiper .swiper-slide:nth-child(6n) {
  background-color: #15A884;
}

.swiper.ejes-tematicos-swiper .swiper-slide:nth-child(7n) {
  background-color: #99529B;
}

@media screen and (max-width: 1024px) {
  .swiper.ejes-tematicos-swiper {
    width: 100%;
  }

  .swiper.ejes-tematicos-swiper .swiper-slide {
    justify-content: start;
    padding: 25px;
  }
}


/* CARDS EJES TEMATICOS TEXTOSCAR */


.swiper.ejes-tematicos-texto-swiper {
  width: min(100%, 53ch);
  height: fit-content;
  margin: 0;
}

.swiper.ejes-tematicos-texto-swiper .swiper-wrapper {
  width: 53ch !important;
}

.swiper.ejes-tematicos-texto-swiper .swiper-slide {
  height: fit-content;
}

  .swiper.ejes-tematicos-texto-swiper .swiper-slide {
    margin-top: auto;
  }

  @media screen and (max-width: 1024px) {
    .swiper.ejes-tematicos-texto-swiper .swiper-slide {
      margin-top: 0;
    }
  }